@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	width:10px;
	height:10px;
}
*::-webkit-scrollbar-track {
	background:#404040;
}
*::-webkit-scrollbar-thumb {
	background:#A0A0A0;
	border-radius:10px;
}
body {
	font-family:Oswald;
	overflow:hidden;
}
.container {
	max-width:1360px;
	width:100%;
	margin:0 auto;
}
.header {
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	position:absolute;
}
.container-header {
	width:1360px;
}
.header-inner {
	width:100%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-top:40px;
}
.nav__links {
	list-style-type: none;
	display: flex;
}
.nav__link {
	color:white;
	font-size:20px;
	text-decoration: none;
	margin-left:48px;
	position:relative;
}
.nav__link:before {
	content:"";
	height:1px;
	width:0;
	background:white;
	position:absolute;
	left:0;
	top:100%;
	transition:0.5s;
}
.nav__link:hover:before {
	width:100%;
}
.home {
	padding-top:90px;
	width:100%;
	height:800px;
	background: linear-gradient(134.63deg, #B367FF 0.65%, #404040 36.89%);
}
.container-home {
	display:flex;
	justify-content: space-between;
}
.title {
	font-weight: normal;
	font-size: 60px;
	line-height: 89px;
	color:white;
}
.subtitle {
	font-family:Roboto;
	font-weight: 100;
	font-size: 20px;
	line-height: 30px;
	color:white;
}
.but {
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	font-family:Oswald;
	color:white;
	background: #8F00FF;
	border:none;
	padding:10px 60px;
	border-radius:5px;
	cursor:pointer;
	transition:0.5s;
}
.but:hover {
	background:#7002C7;
	box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
}
.home__subtitle {
	margin-top:26px;
	margin-bottom:60px;
}
.home__title {
	margin-top:132px;
}
.home__img {
	margin-top:40px;
}
.about {
	width:100%;
	height:720px;
	background:#404040;
	display:flex;
	justify-content: center;
	align-items: center;
}
.container-about {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.service {
	width:100%;
	height:800px;
	background: #404040;
}
.service__title {
	text-align:center;
	padding-top:87px;
}
.card-blocks {
	padding-top:76px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.card-block {
	width:350px;
	height:450px;
	background:white;
	border-radius:20px;
	flex-direction: column;
	display:flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
}
.card__price {
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	align-self:flex-start;
}
.card__subtitle {
	font-size:18px;
	font-family:sans-serif;
	font-weight:100;
	color:black;
	margin-top:25px;
	margin-bottom:17px;
}
.card__but {
	padding:12px 100px;
	border-radius:50px;
}
.card__text-block {
	margin-top:20px;
}
.achivement {
	width:100%;
	height:800px;
	background:#404040;
	display:flex;
	align-items: center;
}
.achivement-blocks {
	display:flex;
	justify-content: space-between;
}
.achivement-block {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
}
.a-two {
	position:relative;
	bottom:50px;
}
.achivement__title {
	font-size:30px;
}
.achivement__subtitle {
	font-size:20px;
}
.footer {
	width:100%;
	height:375px;
	background:black;
	display:flex;
	align-items: center;
}
.container-footer {
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer__subtitle {
	font-family:Roboto;
	font-weight: 100;
	font-size: 18px;
	line-height: 30px;
	margin-top:50px;
}
.two {
	margin-top:0;
}
.footer__item {
	margin-bottom:34px;
}
